# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      config: 'Release'

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x
    - name: Install Aspire
      run: dotnet workload install aspire
    - name: Restore dependencies
      run: dotnet restore src/FlyballRaceDay.sln
    - name: Build
      run: dotnet build src/FlyballRaceDay.sln --no-restore --configuration $config
    - name: Test
      run: dotnet test src/FlyballRaceDay.sln --no-build --verbosity normal
